<launch>

<arg name="out_file" default="out.pkl"/>
<arg name="prog_path" default="prog.pkl"/>
<arg name="resume" default="true"/>

<node pkg="optim" type="CMAOptimization.py" name="cma_optimizer" output="screen" required="true">
    <param name="output_path" value="$(arg out_file)"/>
    <param name="load_path" value="$(arg load_path)" if="$(arg resume)"/>
    <param name="progress_path" value="$(arg prog_path)"/>
    <rosparam>
        critic_service: parameter_evaluator/get_critique
        verbose: true

        random_seed: 1
        convergence:
            output_tolerance: 0.001
            output_history_tolerance: 0.001
            input_tolerance: 0.05
            max_evaluations: 1000

        initial_std_dev: 0.5
        input_dimension: 2
        input_lower_bound: -1
        input_upper_bound: 1
    </rosparam>
</node>

</launch>