<launch>

<include file="$(find abb_surrogate)/launch/motion/continuous_line.launch"/>

<node pkg="abb_surrogate" type="StepResponse.py" name="step_response" output="screen" required="true">
    <remap from="reward" to="$(arg reward_topic)"/>
    <param name="output_path" value="$(arg output_path)"/>
    <rosparam>
        action_lower_bound: -1
        action_upper_bound: 1
        action_dim: 11
        mode: per_dimension
        num_samples: 100
        step_time: 5
        random_seed: 1
        set_parameters_service: vo_interface/set_parameters
    </rosparam>
</node>

</launch>