<launch>

    <node pkg="rosbag" type="record" name="recorder"
          args="-o /tmp/bandit_trace
                /mse/reward
                /ape/reward"/>

    <node pkg="broadcast" type="ConstantFeatures.py" name="const_feats" output="screen">
        <rosparam>
            stream_name: const_feats
            description: Constant features
            features: [1]
            mode: pull
            cache_time: 10
            publish_rate: 1.0
        </rosparam>
    </node>

    <node pkg="infitu" type="SynchronousPolicyNode.py" name="bandit" output="screen" required="true">
        <rosparam>
            critique_topic: parameter_evaluator/get_critique
            policy:
                type: linear
                action_dim: 7
                input_stream: next_arm_speed
                project_actions: true
            input_preprocessing:
                normalization:
                    mode: moments
                    min_samples: 30
                    num_sds: 2.0
                    keep_updating: false
            gradient_estimation:
                type: bandit_gradient
                min_samples: 150
                batch_size: 100
                buffer_size: 500
                use_log_probs: true
                use_natural_gradient: true
                inv_fisher_offset: 1E-9
                seed: 1
                regularizer:
                    type: L2
                    scale: 1E-3
            optimizer:
                type: gradient_descent
                step_size: 1E-2
                max_linf_norm: 1E-1
            policy_rate: 1.0
            learn_rate: 2.0

        </rosparam>
    </node>

</launch>