<launch>
  
    <include file="$(find foxy_localization_bringup)/launch/algorithms/state_estimator.launch"/>

    <group ns="visual_odometry">
        <node pkg="extrinsics_array" type="extrinsics_publisher_node" name="extpub">
            <rosparam>
                pseye051_wide:
                    parent_id: base_link
                    pose:
                        x: 0
                        y: 0
                        z: 0
                        yaw: 0
                        pitch: 1.57079632679
                        roll: 0
            </rosparam>
        </node>

        <node pkg="lookup" type="lookup_registrar" name="camera_registrar">
            <rosparam>
                target_name: pseye051_wide
                target_namespace: camera
            </rosparam>
        </node>

        <node pkg="camplex" type="camera_node" name="camera">
            <rosparam>
                device_path: /dev/video0
                camera_name: pseye051_wide
                frame_width: 320
                frame_height: 240
                frame_rate: 120
                stream_on_start: true
                controls:
                    auto_exposure:
                        id: 10094849
                        value: 0
                    auto_gain:
                        id: 9963794
                        value: 0
            </rosparam>
        </node>

        <node pkg="camplex" type="resize_node" name="vo_resizer" output="screen">
            <remap from="image_raw" to="camera/image_raw"/>
            <remap from="image_resized" to="~image_raw"/>
            <rosparam>
                interpolation_mode: linear
            </rosparam>
        </node>

        <node pkg="odoflow" type="dense_vo_node" name="vo_node" output="log">
            <remap from="image" to="vo_resizer/image_raw"/>
            <remap from="~velocity_raw" to="velocity_raw"/>
            <rosparam>
                scale: 0.1
            </rosparam>
        </node>

        <!--<node pkg="odoflow" type="visual_odometry_node" name="vo_node" output="screen">
            <rosparam>
            sources:
                camera:
                    image_topic: camera/image_raw
                    output_topic: velocity_raw
                    buffer_size: 2
                    show_output: true

            redetection_threshold: 1.0
            min_inlier_ratio: 0.5
            subsample_rate: 0
            max_frame_dt: 0.2
            num_threads: 2
            min_num_keypoints: 10

            detector:
                type: FAST
                intensity_threshold: 20
                enable_nonmax_suppression: true
                max_num_points: 50
                detector_type: FAST_7_12
            tracker:
                type: lucas_kanade
                max_iters: 30
                log_min_eps: -6
                window_dim: 10
                pyramid_level: 0
                log_flow_eigenvalue_threshold: -4
                flow_error_threshold: 10
            estimator:
                type: rigid
                log_reprojection_threshold: -2
                scale: 0.135
                max_iters: 200
            </rosparam>
        </node>-->

    </group>
</launch>