<launch>

    <node pkg="rosbag" type="record" name="recorder"
          args="-o /tmp/bandit_trace
                /reward
                /features/stream_raw
                /bandit/actions/stream_raw"/>

    <node pkg="foxy_localization_evaluation" type="floor_features.py" name="features" output="screen">
        <remap from="image" to="visual_odometry/camera/image_raw"/>
        <rosparam>
            scale: 0.1
            laplacian_k: 1
            pyramid_levels: 0
            stream_name: floor_features
            buffer_size: 3
        </rosparam>
    </node>


    <node pkg="infitu" type="ParameterPolicyNode.py" name="bandit" output="screen" required="true">
        <rosparam>
            interface:
                detector_grid_dim:
                    param_name: grid_dim
                    base_namespace: visual_odometry/vo_node/detector
                    lower_limit: 5
                    upper_limit: 30
                tracker_window_dim:
                    param_name: window_dim
                    base_namespace: visual_odometry/vo_node/tracker
                    lower_limit: 5
                    upper_limit: 40
                tracker_flow_error:
                    param_name: flow_error_threshold
                    base_namespace: visual_odometry/vo_node/tracker
                    lower_limit: 0
                    upper_limit: 15.0
            policy:
                type: linear
                input_stream: bandit_state
                project_actions: true
            input_preprocessing:
                stream_name: policy_normalized_inputs
                normalization:
                    mode: moments
                    min_samples: 30
                    num_sds: 2.0
                    keep_updating: false
            action_broadcast:
                stream_name: policy_actions
            gradient_estimation:
                type: bandit_gradient
                min_samples: 40
                batch_size: 25
                buffer_size: 500
                use_log_probs: true
                use_natural_gradient: true
                inv_fisher_offset: 1E-9
                seed: 1
                regularizer:
                    type: L2
                    scale: 1E-3
            optimizer:
                type: gradient_descent
                step_size: 1E-2
                max_linf_norm: 1E-1
            evaluator:
                integration_mode: traps
                reward_topic: reward
            policy_rate: 1.0
            learn_rate: 2.0

        </rosparam>
    </node>

</launch>