<launch>

<arg name="verbose" default="false"/>
<arg name="camera_params" default="true"/>
<arg name="detector_params" default="true"/>
<arg name="tracker_params" default="true"/>
<arg name="estimator_params" default="true"/>

<node pkg="infitu" type="ContinuousParameterInterface.py" name="vo_interface" output="screen" required="true">
    <param name="interface/verbose" value="$(arg verbose)"/>
    <rosparam command="load" file="$(find abb_surrogate)/configs/vo_camera_params.yaml" if="$(arg camera_params)" ns="interface"/>
    <rosparam command="load" file="$(find abb_surrogate)/configs/vo_detector_params.yaml" if="$(arg detector_params)" ns="interface"/>
    <rosparam command="load" file="$(find abb_surrogate)/configs/vo_tracker_params.yaml" if="$(arg tracker_params)" ns="interface"/>    
    <rosparam command="load" file="$(find abb_surrogate)/configs/vo_estimator_params.yaml" if="$(arg estimator_params)" ns="interface"/>    
</node>

</launch>